/* UNIVERSAL */
/* COLOUR PALLETTE:
#537188
#CBB279
#E1D4BB
#EEEEEE */

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto", arial, sans-serif;
}

.container {
  /* outline: 3px solid green; */
  display: flex;
  flex-direction: column;
}

.info,
.footer,
.sign-up {
  background-color: #eeeeee;
}

.navbar,
.main {
  background-color: #537188;
}

/* HEADER */
.navbar {
  display: flex;
  padding: 20px 0px 20px 100px;
  align-items: center;
  outline: 2px solid red;
}

.navbar img {
  max-width: 40px;
  max-height: auto;
  margin-right: auto;
}

.nav-right {
  display: flex;
  margin-left: auto;
  padding: 0px 100px 0px 0px;
}

.nav-right a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px;
  font-family: "Roboto", arial, sans-serif;
}

/* MAIN BODY */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.header-text {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
  font-family: "Roboto", arial;
}

.main button {
  display: block;
  text-align: center;
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: "Roboto", arial;
  text-decoration: none;
  font-weight: bold;
}

.main img {
  height: 300px;
  width: auto;
}
/* INFO FACTS */

.quotes {
  background-color: #cbb279;
}

/* FOOTER */

.footer {
  /* outline: 3px solid green; */

  margin: 0 5px;
  padding: 5px 5px;
}
