/* UNIVERSAL */
/* COLOUR PALLETTE:
#537188
#CBB279
#E1D4BB
#EEEEEE */

body {
  background-color: black;
}

.container {
  /* outline: 3px solid green; */
  display: flex;
  margin: 5px 5px;
  padding: 5px 5px;
}

/* HEADER */
.nav img {
  max-width: 40px;
  max-height: auto;
}

/* MAIN BODY */
.nav,
.main {
  background-color: #537188;
}

.info {
  background-color: #eeeeee;
}

.main img {
  height: 300px;
  width: auto;
}

.quotes {
  background-color: #cbb279;
}

.sign-up {
  /* outline: 3px solid green; */
  background-color: #eeeeee;
  margin: 5px 5px;
  padding: 5px 5px;
}
/* FOOTER */

.footer {
  /* outline: 3px solid green; */
  margin: 5px 5px;
  padding: 5px 5px;
}
